html {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: all 0.5s;
  }
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

$Light-Gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
$Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

$Neutral-0: hsl(200, 60%, 99%);
$Neutral-100: hsl(0, 0%, 93%);
$Neutral-200: hsl(217, 61%, 90%);
$Neutral-300: hsl(0, 0%, 78%);
$Neutral-600: hsl(226, 11%, 37%);
$Neutral-700: hsl(225, 23%, 24%);
$Neutral-800: hsl(226, 25%, 17%);

$Red-700: hsl(3, 77%, 44%);

[data-theme="light"] {
  --bg-gradient: #{$Light-Gradient};
  --bg-primary: #{$Neutral-0};
  --bg-secondary: #{$Neutral-300};
  --text-primary: #{$Neutral-800};
  --border-color: #{$Neutral-300};
}

[data-theme="dark"] {
  --bg-gradient: #{$Dark-Gradient};
  --bg-primary: #{$Neutral-800};
  --bg-secondary: #{$Neutral-700};
  --text-primary: #{$Neutral-300};
  --border-color: #{$Neutral-600};
}

.main__container {
  display: flex;
  flex-direction: column;
  background: var(--bg-gradient);
  padding: 15px;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .main__container {
    padding: 50px 100px;
  }
}

.theme__btn {
  border: none;
  background: none;
}

.extensions {
  background-color: var(--bg-primary);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;

  &__theme-dark {
    background-color: var(--bg-secondary);
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  }

  &__theme-light {
    background-color: var(--bg-secondary);
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
}

.navigations {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-weight: 700;
    color: var(--text-primary);
  }

  &__wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 100%;
  }

  &__item {
    list-style-type: none;
    background-color: var(--bg-primary);
    padding: 7px 15px;
    border-radius: 20px;
    font-weight: 400;
    border: 1px solid var(--border-color);
    color: var(--text-primary);
    cursor: pointer;
  }

  &__item-active {
    background-color: $Red-700;
    color: var(--text-primary);
  }
}
@media screen and (min-width: 1440px) {
  .navigations {
    flex-direction: row;
    justify-content: space-between;
    &__wrapper {
      width: inherit;
    }
  }
}

.plugins {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
  gap: 10px;

  &__item {
    background-color: var(--bg-primary);
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid var(--border-color);
  }

  &__wrapper {
    display: flex;
    gap: 10px;
    align-items: flex-start;
  }

  &__head {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 700;
  }
  &__descr {
    font-size: 12px;
    font-weight: 500;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
  }

  &__remove {
    background-color: var(--bg-primary);
    padding: 7px 15px;
    border-radius: 20px;
    font-weight: 500;
    border: 1px solid var(--border-color);
    color: var(--text-primary);
    cursor: pointer;
  }

  &__switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 22px;
  }

  /* Скрываем стандартный чекбокс */
  &__switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* Фон переключателя */
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 15px;
  }

  /* Ползунок */
  &__slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }

  /* Изменение фона при чекбоксе включенном (checked) */
  input:checked + &__slider {
    background-color: $Red-700;
  }

  /* Перемещение ползунка при checked */
  input:checked + &__slider:before {
    transform: translateX(15px);
  }
}

@media screen and (min-width: 1440px) {
  .plugins {
    display: grid;
    grid-template-columns: auto auto auto;
    &__item {
      width: auto;
    }

    &__descr {
      width: 300px;
    }
  }
}

.hidden {
  display: none;
}

.show {
  display: block;
}
